@import '../../main.scss';

.Leftbar {
  position: absolute;
  left: 0;
  background: $dark;
  //padding: 10px;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  @include flex(flex-start, stretch);
  flex-direction: column;

  button {
    @include panelButtons()
  }
}

.move {}

.line {}

.circle {}

.triangle {}

.rectangle {}

.shape {}

.text {}

.image {}