@import '../../main.scss';

.Topbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $dark;
  border-radius: 0 0 10px 0;
  @include flex(flex-start, stretch);

  button {
    @include panelButtons()
  }
}

.save {
  @include p2()
}

.prev {
}

.next {
}